<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="addAllFilesInterval" value="3600000"/>
    <add key="transferTimeout" value="120000"/>
    <add key="maxInQueue" value="1024"/>
    <add key="maxInTransfer" value="20"/>
    <add key="watchDir" value="C:\Users\Mads\Documents\Testing Folder\"/>
    <add key="infectedSubDir" value="Infected"/>
    <add key="cleanSubDir" value="Clean"/>
    <add key="DEBUGLVL" value="2"/>
    <!-- '-1' Disallows all errors and information logging.
          '0' Allows only error logging.
          '1' Allows errors and general informations.
          '2' Allows all logging. Considered as verbose mode.-->
  </appSettings>
</configuration>